* {
    box-sizing: border-box;
  }
  
  body {
    width: 75%;
    margin: 0 auto;
  }
  
  section {
    margin: 20px;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid gray;
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .quiz-stats {
    border: 1px solid grey;
    padding-left: 10px;
    width: 100px;
    justify-self: flex-end;
  }
  
  .question-box {
    border: 1px solid grey;
    /* padding-left: 10px; */
  }

  .question-box > p {
    padding-left: 10px;
  }
  
  #question-image {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    margin: 0 auto; 
  }
  
  #quiz-answers {
    border: 1px solid grey;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  input.answer {
    height: 40px;
    background-color: lightgray;
    margin: 5px;
  }
  
  input[type="submit"] {
    width: 100px;
  }
  
  .form-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .form-buttons {
    margin: 0 5px;
  }

  #next-page {
    width: 50px;
  }
  