* {
  box-sizing: border-box;
}

html { 
  background: url(images/original-images/Magna-Golf-Course.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-screen-image {
  width: 25%;
  border-radius: 50px;
  box-shadow: 0px 0px 50px black;
}

h1.quiz-title {
  font-family: 'Archivo Black', sans-serif;
  color: white;
  font-size: 30px;
  color: rgb(255,255,255);
  /* background: rgba(160,160,160,.7); */
  background: rgba(0,75,0,.8);
  border-radius: 20px;
  padding: 20px;
  border: 4px solid white;
  /* position: absolute; */
  /* width: 50%; */
}

.welcome-message > h2 {
  padding: 20px;
  color: rgb(255,255,255);
  font-size: 20px;
  font-weight: normal;
  background: rgba(0,75,0,.8);
  border: 3px solid white;
  border-radius: 20px;
  font-family: 'Archivo', sans-serif;
}

div.welcome-message {
  width: 350px;
}

button.start, .restart {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 18px;
  color: rgba(100,100,100,1);
  font-family: 'Archivo', sans-serif;
  font-weight: 800;
  border: 3px solid rgba(160,160,160,1);
}

button.start:hover, .restart:hover {
  background: rgba(100,100,100,1);
  color: white;
  border: 3px solid white;
}

.blurred {
  filter: blur(15px);
}

.question-image {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 4px solid white;
}

header {
  width: 100%;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-container {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  background: rgba(100,100,100,.8);
  border-radius: 10px;
  border: 3px solid white;
}

.quiz-info {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  color: white;
}

.question-info-score {
  margin-top: 0px;
}

fieldset {
  display: flex;
  flex-direction: column;
  background: rgba(0,75,0,.8);
  border: 4px solid white ;
  border-radius: 10px;
  box-shadow: 0px 0px 50px black;
}

.question-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding: 5px 10px;
  border-radius: 10px;
}

.question-content > h2, .quiz-results > h2 {
  color: rgb(255,255,255);
  background:rgba(100,100,100,1);
  border: 3px solid white;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Archivo', sans-serif;
  font-weight: 550;
  box-shadow: 0px 0px 50px black;
}

span.question-text {
  font-size: 24px;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  color: rgba(255,255,255,1);
}

label:hover {
  background: rgba(0,0,0,.6);
}

.submit-button, .next-button {
  width: 100px;
  height: 50px;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 18px;
  color: rgba(100,100,100,1);
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  border: 3px solid rgba(160,160,160,1);
}

.submit-button:hover, .next-button:hover {
  background: rgba(100,100,100,1);
  color: white;
  border: 3px solid white;
}

div.correct-feedback > p, .quiz-results > p {
  color: rgb(255,255,255);
  background:rgba(0,75,0,1);
  font-size: 24px;
  font-weight: 550;
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  font-family: 'Archivo', sans-serif;
}

div.incorrect-feedback > p {
  color: rgb(255,255,255);
  background:rgba(150,0,0,1);
  font-size: 24px;
  font-weight: 550;
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  font-family: 'Archivo', sans-serif;
}

.correct-feedback, .incorrect-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-button {
  box-shadow: 0px 0px 50px black;
}