* {
  box-sizing: border-box;
}

html { 
  background: url(images/original-images/Magna-Golf-Course.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-screen-image {
  width: 30%;
  border-radius: 50px;
  box-shadow: 0px 0px 50px black;
}

h1.quiz-title {
  font-family: 'Archivo Black', sans-serif;
  color: white;
  font-size: 30px;
  color: rgb(255,255,255);
  /* background: rgba(160,160,160,.7); */
  background: rgba(0,75,0,.8);
  border-radius: 20px;
  padding: 20px;
  border: 4px solid white;
  /* width: 50%; */
}

.welcome-message > h2 {
  padding: 20px;
  color: rgb(255,255,255);
  font-size: 20px;
  font-weight: normal;
  background: rgba(0,75,0,.8);
  border: 3px solid white;
  border-radius: 20px;
  font-family: 'Archivo', sans-serif;
}

div.welcome-message {
  width: 350px;
}

button.start {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 18px;
  color: rgba(110,110,110,1);
  font-family: 'Archivo', sans-serif;
  font-weight: 800;
  border: 4px solid rgba(160,160,160,1);
}

button.start:hover {
  background: rgba(160,160,160,1);
  color: white;
  border: 4px solid white;
}

.blurred {
  filter: blur(15px);
}

.question-image {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 4px solid white;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quiz-title {
  /* text-align: center; */
}

.quiz-info {
  float: right;
  justify-self: flex-end;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
}

fieldset {
  display: flex;
  flex-direction: column;
  background: rgba(0,75,0,.8);
  border: 4px solid white ;
  border-radius: 10px;
  box-shadow: 0px 0px 50px black;
}

.question-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding: 5px 10px;
  border-radius: 10px;
}

.question-content > h2 {
  color: rgb(255,255,255);
  background:rgba(160,160,160,.6);
  padding: 10px;
  border-radius: 10px;
  font-family: 'Archivo', sans-serif;
}

span.question-text {
  font-size: 24px;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  color: rgba(255,255,255,1);
}

input[type="radio"] {
  /* display: none; */
}

label:hover {
  background: rgba(0,0,0,.6);
}

.submit-button {
  width: 100px;
  height: 30px;
}